body {
  background-image: url(wallpaper.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  margin: 0;
  padding: 0;
}

header {
  background-color: rgb(31, 27, 27);
  color: blanchedalmond;
  border-bottom: 2px solid rgb(0, 0, 0);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 1);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-weight: bold;
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
}

h1,
h2,
img {
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-top: 0;
  padding-right: 0;
}
img {
  transition: all 1s ease;
}
.imgLogIn {
  max-width: 50px;
  max-height: 50px;
  margin-top: 5px;
  border-radius: 100%;
}
.curtain-mob {
  max-width: 50px;
  max-height: 50px;
  margin-right: 10px;
  display: none;
}
header h1,
header h2 {
  margin-bottom: 1;
}
.header-logo {
  margin-right: 1%;
  margin-left: 10px;
  flex-grow: 0.1;
}
.header-pagetitle {
  flex-grow: 10;
  font-size: 1rem;
  font-weight: bold;
}
.header-logo {
  font-size: 1.25rem;
  font-weight: bold;
  margin-right: 0;
}
.imgConainerHeader {
  justify-self: flex-end;
  flex-grow: 0.1;
}
header img {
  border: 2px;
  border-color: antiquewhite;
  border-style: solid;
  border-radius: 100%;
}

.main-block {
  display: flex;
  justify-content: space-between;
  flex-flow: row nowrap;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 5px;
  min-height: 100vh;
}

.navigation-menu {
  margin-top: 1%;
}
.timer{
  margin-left:10px;
  font-size:0.8em;
  display: flex;
  justify-content: flex-end;
  color: "#555";
}
nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 200px;
}

nav li {
  position: relative;
}

nav a {
  border: 1px rgb(175, 169, 169) solid;
}
nav ul {
  background-color: rgb(30, 34, 27);
}

nav a {
  text-decoration: none;
  color: #ffffff;
  padding: 10px;
  display: block;
}

.submenu {
  display: none;
  position: absolute;
  top: 0;
  left: 100%;
  background-color: #472d2d;
  border: 1px solid #ccc;
  padding: 10px;
}

nav li:hover .submenu {
  display: block;
}

nav ul ul {
  margin-top: 5px;
}

nav {
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.5);
}

.mainformation-block {
  margin-top: 1%;
  text-indent: 5px;
  word-spacing: normal;
  letter-spacing: normal;
  margin-left: 1%;
  margin-right: 1%;
  line-height: 20px;
  background: url("mashes\papyrus.jpg") rgba(232, 255, 128, 0.603);
  border: 3px solid rgb(104, 17, 17);
  padding: 10px;
}

.mainformation-block h3 {
  font-style: normal;
  text-decoration: solid;
  text-transform: none;
}

aside {
  margin-top: 1%;
  margin-left: 1%;
}

aside a {
  text-decoration: none;
  color: white;
  -webkit-text-stroke: 0.3px #000000;
  display: block;
  font-size: 1.5rem;
  text-align: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

aside a:hover {
  color: rgb(204, 145, 145);
}

.ref-block {
  border: 1px #472d2d;
  max-width: 372px;
  max-height: 525px;
}

.misc-block {
  margin-top: 50px;
  border: 3px #472d2d;
  max-width: 372px;
  max-height: 525px;
}

.imginextras:hover {
  transform: scale(1.05);
}

.imginfooter {
  margin-right: 10px;
  max-width: 30px;
  max-height: 30px;
}

.footerend {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: white;
}

footer {
  background-color: rgb(31, 27, 27);
  border-top: 2px solid rgb(0, 0, 0);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 1);
}
.nav-menu {
  display: none;
}

nav ul li a:hover {
  text-decoration: underline;
}

nav ul li a.active {
  text-decoration: underline;
}

@media screen and (max-width: 810px) {
  .navigation-menu {
    display: none;
  }

  .main-block {
    flex-flow: column nowrap;
  }

  .curtain-mob {
    display: block;
    cursor: pointer;
  }
  aside a {
    white-space: pre-line;
  }
  aside a img {
    min-width: 50%;
    min-height: 100%;
  }
  .header-logo {
    content: "Order";
  }
}
.footerend::before {
  content: "\221E"; /* Юникод-символ бесконечности */
  display: inline-block;
  font-size: 20px;
  animation: spin-infinite 2s linear infinite; /* Анимация вращения бесконечности */
}

@keyframes spin-infinite {
  to {
    transform: rotate(360deg);
  }
}